[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "DirectXTex/DirectXTex"]
	path = DirectXTex/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "cimgui/imgui"]
	path = cimgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cimguizmo/ImGuizmo"]
	path = cimguizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "cimnodes/imnodes"]
	path = cimnodes/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "cimplot/implot"]
	path = cimplot/implot
	url = https://github.com/epezent/implot.git
